# Frontend
VITE_API_BASE_URL=http://localhost:3000/api/v1

# Backend
PORT=3000
DATABASE_URL=mysql://root:root@localhost:3306/moda_app
JWT_ACCESS_SECRET=change_me_access
JWT_REFRESH_SECRET=change_me_refresh
FRONTEND_ORIGIN=http://localhost:5173
SEPAY_API_KEY=change_me_sepay_api_key
SEPAY_WEBHOOK_SECRET=change_me_sepay_webhook_secret
CLOUDINARY_CLOUD_NAME=change_me_cloud_name
CLOUDINARY_API_KEY=change_me_cloudinary_key
CLOUDINARY_API_SECRET=change_me_cloudinary_secret
REDIS_URL=redis://localhost:6379
